*{
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
box-sizing: border-box;
}
body{
    background-image: url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.all{
    background: linear-gradient(135deg,
    rgba(158, 105, 134, 0.6) 0%
    rgba(200,200,200,0.2) 40%,
    rgba(150,150,150,0.4) 60%,
    rgba(255, 111, 219, 0.8) 110%
    );
    backdrop-filter: blur(2px);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgba(214, 15, 214, 0.518);
    padding: 20px;
}
.result{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.all h2{
    padding-left: 20px;
    margin-bottom: 20px;
}
.all label{
    margin-top: 20px;
    color: white;
}
.input{
    outline: none;
    width: 200px;
    height: 30px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 30px;
    background: none;
    color: white;
    background: linear-gradient(
        135deg,
        rgba(234, 8, 132, 0.6) 0%,
        rgba(200,200,200,0.2) 40%,
        rgba(150,150,150,0.4) 60%,
        rgba(0, 131, 237, 0.8) 110%
      );
      backdrop-filter: blur(2px);
      padding-left: 20px;

}
.Btn{
    display: flex;
    justify-content: center;
}
.btn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(
        135deg,
        rgba(234, 8, 132, 0.6) 0%,
        rgba(200,200,200,0.2) 40%,
        rgba(150,150,150,0.4) 60%,
        rgba(0, 131, 237, 0.8) 110%
      );
      backdrop-filter: blur(2px);
      color: white;
      margin-top: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease,transform 0.3s ease;
}
.btn:hover{
    background-color: rgba(0, 131, 237, 0.8);
    transform: scale(1.05);
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

